@charset "UTF-8";

.mci{
	text-align:center;
}

/*お気に入り投稿の写真サイズ設定*/
.rphoto{
	height:;
}
.icon{
 width:60%;
 height:30%;
 position:relative;
 float:left;
}
/*配置の指定*/
.uname{
	float:right;
	align-items:flex-start;
	margin-right:20;


}
/*投稿一覧.リアクションした投稿.保存した掲示板*/
.bbox {
    border: #000000 1px solid; /*境界線の指定*/
    padding:10px;
    width: 200px;
    margin:0px auto;

}

/*freespace*/
.box {
	border: #000000 1px solid; /*境界線の指定*/
	padding:10px;
	width: 200px;
	text-align:center;
	float:center;
	margin:0px auto;
}
.box p {
	margin-left: auto;
    margin-right: auto;
	margin:0;
	padding:0;
}
/*ユーザー名,フォロー数,フォロワー数*/
.fbox {
	margin-left:auto;
	margin-right:10;
	border: #000000 1px solid; /*境界線の指定*/
	padding:10px;
	width: 110px;
	text-align: center;

  }
.fbox p {
	margin-left: auto;
    margin-right: 10;
  	margin:0;
  	padding:0;
}

/*更新・戻るボタンの位置*/

.back{
	text-align:center;
}

